<div>
  <h3>Amigos Disponibles</h3>
  <ul>
    <li *ngFor="let amigo of amigos">
      {{ amigo.nombre }}
      <button (click)="openEditModal(amigo)">Editar</button>
      <button (click)="removeAmigo(amigo.nombre)">Eliminar</button>
    </li>
  </ul>
</div>

<div>
  <h3>Agrega un Amigo</h3>
  <input [(ngModel)]="newAmigo.nombre" placeholder="Nombre del nuevo amigo">
  <!-- Puedes agregar más campos si es necesario -->
  <button (click)="addAmigo()">Agregar</button>
</div>

<app-modal
  *ngIf="showEditModal"
  [title]="'Editar Amigo'"
  [content]="editingAmigo ? editingAmigo.nombre : ''"
  (submit)="updateAmigo({ nombre: $event, pedidos: [] })"
  (close)="closeEditModal()">
</app-modal>
