<div class="animate-card">
    <div class="alert alert-primary text-center" role="alert">
        <h5>Historial de pedidos</h5>
    </div>

    <div *ngIf="!hayPedidosActivos()">
        <div class="alert alert-secondary text-center" role="alert">
            Aún no se han realizado pedidos.
        </div>
    </div>

    <ng-container *ngFor="let item of historial; let i = index">
        <div *ngIf="hayPedidosActivosItem(item)" class="card mb-3">
            <div class="card-header d-flex justify-content-between align-items-center" (click)="togglePanel(i)" style="cursor: pointer;">
                <div>
                    <strong>Pedido: {{ item.fechaPedido | date:'dd/MM/yyyy, HH:mm' }}</strong>
                </div>
                <div>
                    <small>
                        <strong>Cantidad de empanadas: {{ calcularTotalEmpanadas(item.pedido) }}</strong> 
                        - <strong>${{ calcularTotalSinEnvio(item) | number }}</strong>
                        <br>
                        <i>+ ${{ item.costoEnvio }} de envío </i>
                    </small>
                    <br>
                    <strong style="font-size: larger;">Total: ${{ calcularTotalConEnvio(item) | number }}</strong>
                    <i [ngClass]="{'bi-chevron-down': !panelOpenState[i], 'bi-chevron-up': panelOpenState[i]}" class="bi ml-2"></i>
                </div>
            
                <!-- Botón para eliminar el historial -->
                <button (click)="indexToDelete = i" type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    <i class="bi bi-trash"></i>
                </button>
            
                <!-- Botón para compartir -->
                <button (click)="sharePedido(item)" type="button" class="btn btn-primary btn-sm">
                    <i class="bi bi-share"></i>
                </button>
            
                <!-- Botón para llamar -->
                <button (click)="makeCall()" type="button" class="btn btn-success btn-sm">
                    <i class="bi bi-telephone"></i>
                </button>
            </div>
            

            <div *ngIf="panelOpenState[i]" class="collapse show">
                <div class="card-body">
                    <ng-container *ngFor="let amigo of item.pedido">
                      <div *ngIf="amigo.pedido.length > 0">
                        <h5>{{ amigo.nombre }}</h5>
                        <ul>
                          <li *ngFor="let pedido of amigo.pedido">
                            {{ pedido.cantidad }} de {{ pedido.gusto }}
                          </li>
                        </ul>
                        <div>
                          <small>Cantidad: {{ calcularTotalEmpanadasAmigo(amigo) }} empanadas x ${{ calcularCostoEmpanadasAmigo(amigo, item) | number }}</small>
                          <br>
                          <small>Costo de envío: ${{ calcularCostoEnvioAmigo(item) | number }}</small>
                          <br>
                          <b><i>Total a pagar: ${{ calcularTotalAmigo(amigo, item) | number }}</i> </b>
                        </div>
                        <hr>
                      </div>
                    </ng-container>
                  
                    <!-- Resumen de pedido -->
                    <div class="alert alert-info mt-3">
                      <h6>Resumen de pedido:</h6>
                      <ul>
                        <li *ngFor="let resumen of calcularResumenGustos(item)">
                          {{ resumen.cantidad }} de {{ resumen.gusto }}
                        </li>
                      </ul>
                    </div>
                  </div>
            </div>
        </div>


    </ng-container>
</div>


<!-- Button trigger modal -->
    <!-- Modal de confirmación de eliminación -->
    <div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteLabel">Confirmar Eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro que deseas eliminar este pedido del historial?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" (click)="eliminarHistorial()" data-bs-dismiss="modal">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>