<main class="main">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</main>

<!-- Navbar inferior flotante -->
<nav class="navbar navbar-expand fixed-bottom navbar-light bg-light">
  <div class="container-fluid justify-content-around">
    <a class="nav-link text-center" href="/agregar-gustos">
      <i class="bi bi-patch-check fs-3"></i> <!-- Icono para gustos -->
      <div>Gustos</div>
    </a>
    <a class="nav-link text-center" href="/agregar-amigos">
      <i class="bi bi-person fs-3"></i> <!-- Icono para amigos -->
      <div>Amigos</div>
    </a>
    <a class="nav-link text-center" href="/pedido">
      <i class="bi bi-shop fs-3"></i> <!-- Icono para pedido -->
      <div>Pedido</div>
    </a>
  </div>
</nav>
