<div class="container">
  <!-- Título de la sección -->
  <div class="alert alert-primary text-center" role="alert">
    <h3>Gustos Disponibles</h3>
  </div>

  <!-- Contenedor de tarjetas de gustos -->
  <div class="row row-cols-3 g-2">
    <div class="col" *ngFor="let gusto of gustos">
      <div class="card border-secondary d-flex flex-column align-items-center">
        <div class="card-body text-center d-flex flex-column justify-content-between">
          <i class="bi bi-cup-straw" style="font-size: 24px;"></i> <!-- Icono de comida -->
          <p class="card-text" style="font-size: 0.65rem; margin: 0;">{{ gusto }}</p>
          <div class="d-flex justify-content-between mt-2">
            <i *ngIf="!defaultGustos.includes(gusto)" (click)="openEditModal(gusto)" class="bi bi-pencil" style="cursor: pointer;"></i>
            <i *ngIf="!defaultGustos.includes(gusto)" (click)="removeGusto(gusto)" class="bi bi-trash" style="cursor: pointer;"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Sección para agregar un nuevo gusto -->
  <div class="alert alert-light mt-4 text-center" role="alert">
    <h5>Agrega un gusto</h5>
    <div class="input-group mb-3">
      <input [(ngModel)]="newGusto" class="form-control" placeholder="Nombre">
      <button class="btn btn-success" (click)="addGusto()">Agregar</button>
    </div>
  </div>

  <!-- Modal para editar gusto -->
  <app-modal
    *ngIf="showEditModal"
    [title]="'Editar Gusto'"
    [content]="editingGusto || ''"
    (submit)="updateGusto($event)"
    (close)="closeEditModal()">
  </app-modal>
</div>
