<div>
  <h3>Gustos Disponibles</h3>
  <ul>
    <li *ngFor="let gusto of gustos">
      {{ gusto }}
      <button *ngIf="!defaultGustos.includes(gusto)" (click)="openEditModal(gusto)">Editar</button>
      <button *ngIf="!defaultGustos.includes(gusto)" (click)="removeGusto(gusto)">Eliminar</button>
    </li>
  </ul>
</div>

<div>
  <h3>Agregar Nuevo Gusto</h3>
  <input [(ngModel)]="newGusto" placeholder="Nombre del nuevo gusto">
  <button (click)="addGusto()">Agregar</button>
</div>

<app-modal
  *ngIf="showEditModal"
  [title]="'Editar Gusto'"
  [content]="editingGusto || ''"
  (submit)="updateGusto($event)"
  (close)="closeEditModal()">
</app-modal>
