<div class="">
  <div class="alert alert-primary text-center" role="alert">
    <h5>Pedido actual v1.0.2</h5>
  </div>

  <!-- Sección de selección de amigo, gusto, cantidad y costos -->
  <div class="alert alert-light" role="alert">
    <!-- Fila para seleccionar amigo y gusto -->
    <div class="row mb-3">
      <div class="col-md-6 col-sm-6">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Amigo:</span>
          <select class="form-select" [(ngModel)]="selectedAmigo" aria-label="Seleccionar amigo">
            <option *ngFor="let amigo of amigos" [ngValue]="amigo">
              {{ amigo.nombre }} 
              <span *ngIf="amigo.pedido.length > 0" class="text-success">(activo)</span>
            </option>
          </select>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon2">Gusto:</span>
          <select class="form-select" [(ngModel)]="selectedGusto" aria-label="Seleccionar gusto">
            <option *ngFor="let gusto of gustos" [value]="gusto">{{ gusto }}</option>
          </select>
        </div>
      </div>
    </div>

    <!-- Fila para cantidad, costo de empanada y costo de envío -->
    <div class="row mb-3 align-items-center">
      <div class="col-md-4 d-flex align-items-center">
        <span class="input-group-text" id="basic-addon3">Cantidad:</span>
        &nbsp;
        <button type="button" class="btn btn-outline-secondary" (click)="decrementarCantidad()">
          <i class="bi bi-dash"></i>
        </button>
        <span class="mx-2">{{ cantidad }}</span>
        <button type="button" class="btn btn-outline-secondary" (click)="incrementarCantidad()">
          <i class="bi bi-plus"></i>
        </button>
      </div>
      <div>
        <hr>
      </div>
      <div class="col-md-4">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon4">Costo Empanada:</span>
          <input id="costoEmpanada" class="form-control" type="number" [(ngModel)]="costoPorEmpanada" aria-label="Costo de empanada" />
        </div>
      </div>

      <div class="col-md-4">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon5">Costo Envío:</span>
          <input id="costoEnvio" class="form-control" type="number" [(ngModel)]="costoEnvio" aria-label="Costo de envío" />
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-outline-dark mt-3" (click)="agregarPedido()" [disabled]="!selectedAmigo || !selectedGusto">Agregar Pedido</button>
  </div>

  <!-- Resumen del pedido -->
  <h3 class="mt-4">Resumen del Pedido</h3>
  <div class="row">
    <div class="col-md-6 col-lg-4 mb-3" *ngFor="let amigo of amigos">
      <div *ngIf="amigo.pedido.length > 0" class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          {{ amigo.nombre }}
          <i (click)="eliminarPedido(amigo)" class="bi bi-trash text-danger" style="cursor: pointer;"></i>
        </div>
        <div class="card-body">
          <ul class="list-unstyled">
            <li *ngFor="let pedido of amigo.pedido">
              <ng-container *ngIf="pedido.cantidad >= 0">
                {{ pedido.gusto }}:
                <div class="d-flex align-items-center">
                  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="decrementarGustoCantidad(amigo, pedido)">
                    <i class="bi bi-dash"></i>
                  </button>
                  <span class="mx-2">{{ pedido.cantidad }}</span>
                  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="incrementarGustoCantidad(amigo, pedido)">
                    <i class="bi bi-plus"></i>
                  </button>
                </div>
              </ng-container>
            </li>
          </ul>
          <p class="mb-0">Total: {{ calcularTotalEmpanadas(amigo) }} empanadas {{ calcularTotalAmigo(amigo) | currency }}</p>
          <p class="mb-0">+ {{ calcularProporcionEnvio(amigo) | currency }} de envío</p>
        </div>
        <div class="card-footer text-end">
          Total: {{ calcularTotalAmigo(amigo) + calcularProporcionEnvio(amigo) | currency }}
        </div>
      </div>
    </div>
  </div>

  <!-- Resumen de gustos -->
<div class="alert alert-info mt-4" role="alert">
  <h5>Resumen de Gustos</h5>
  <ul class="list-unstyled">
    <li *ngFor="let gusto of (calcularTotalGustos() | keyvalue)">
      {{ gusto.key }}: {{ gusto.value }} unidades
    </li>
  </ul>
</div>

<div class="alert alert-success mt-4" role="alert">
  <p>Cantidad de empanadas: {{ calcularTotalEmpanadasTodos() }} u.</p>
  <p>Costo de envío: {{ costoEnvio | currency }} de envío</p>
  <h3>Total del pedido: {{ calcularTotalGeneral() + costoEnvio | currency }}</h3>
</div>
  <hr>
  <small>made with love by <b>github.com/matiasmasciotta</b> developer</small>
</div>
