/* Asegúrate de que el main ocupe todo el alto de la pantalla menos el alto de la navbar */
body, html {
    height: 100%;
    margin: 0;
  }
  
  main {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 56px); /* Ajusta si la altura de la navbar cambia */
    padding: 1rem;
    overflow-y: auto;
  }
  
  .navbar {
    height: 56px; /* Ajusta la altura de la navbar si es necesario */
  }
  
  .nav-link {
    text-align: center;
    padding: 0.5rem 1rem;
  }
  
  .nav-link i {
    display: block;
  }
  
  .nav-link div {
    font-size: 0.9rem;
  }
  
  @media (min-width: 992px) {
    /* Ajustes para escritorio si es necesario */
    .navbar {
      display: none; /* Oculta la navbar en pantallas grandes si lo prefieres */
    }
  }
  

    /* Animación de entrada con blur y rebote */
@keyframes blurBounceIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
    filter: blur(10px);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.05);
    filter: blur(2px);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
}

.animate-card {
  animation: blurBounceIn 0.3s ease-out both;
}